

<h2>InsertTeacher</h2>
@using (Html.BeginForm("InsertTeacher", "Teacher", FormMethod.Post))
 {
    <input type="text" placeholder="teacher name" name="teacherName" />
    <input type="number" placeholder="teacher number" name="teacherNbr" />
    <input type="submit" value="submit" />
 }
